In [1]:
import pandas as pd #import pandas
import numpy as np #import numpy
import matplotlib.pyplot as plt #import matplotlib
import json #import json
import seaborn as sb #import seaborn
from pandas.core.frame import DataFrame #import dataframe

In [2]:
df1 = pd.read_csv('temp_1.csv') #import csv file

In [3]:
df1.head(5) #check first 5 rows

,old_movie_id,movie_title,director_name,main_actor,genre,genre_id,genre.1,new_movie_id
0,1,On the Road,Walter Salles,Kristen Stewart,Adventure,3,Adventure,9
1,3,Enchanted,Kevin Lima,Jeff Bennett,Romance,4,Romance,13
2,4,"Dancer, Texas Pop. 81",Tim McCanlies,Ethan Embry,Comedy,6,Comedy,12
3,5,TMNT,Kevin Munroe,Chris Evans,Adventure,3,Adventure,9
4,6,Sunshine,Danny Boyle,Chris Evans,Sci-Fi,7,Sci-Fi,18

In [4]:
df2=df1.drop('genre', axis=1) #drop genre column in df1

In [5]:
df3=df2.drop('genre.1', axis=1) #drop genre.1 column in df2

In [6]:
df4=df3.drop('new_movie_id', axis=1) #drop new_movie_id in df3

In [8]:
df4.head(5) #check first 5 rows

,old_movie_id,movie_title,director_name,main_actor,genre_id
0,1,On the Road,Walter Salles,Kristen Stewart,3
1,3,Enchanted,Kevin Lima,Jeff Bennett,4
2,4,"Dancer, Texas Pop. 81",Tim McCanlies,Ethan Embry,6
3,5,TMNT,Kevin Munroe,Chris Evans,3
4,6,Sunshine,Danny Boyle,Chris Evans,7

In [11]:
df4.to_csv('old_movie_final.csv', sep=',',index=False) #output into csv